.iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  margin: 2.4rem 0 3.2rem;
}

.iframe__16x9 {
  padding-bottom: 56.25%;
}

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-shadow {
  box-shadow: none !important;
}
