.u-no-shadow {
  box-shadow: none !important;
  margin-top: 3.2rem;
}

.u-mt-sm {
  margin-top: 2.4rem !important;
}

.u-mt-md {
  margin-top: 3.2rem !important;
}

.u-mt-xl {
  margin-top: 6.4rem !important;
}

.u-mb-sm {
  margin-bottom: 2.4rem !important;
}

.u-mb-md {
  margin-bottom: 3.2rem !important;
}

.u-align-start {
  align-self: flex-start !important;
}

.u-align-stretch {
  align-self: stretch !important;
}

.u-align-center {
  align-self: center !important;
}

.u-align-end {
  align-self: flex-end !important;
}
