// Colors
$color-fg: #262222;
$color-bg: #ffffff;

$color-black: #222;
$color-white: #efefef;
$color-off-white: #d8d6cf;
$color-grey: #777;

$color-blue-light: #33708d;
$color-blue-dark: #122d41;

$color-red: #722e38;

$color-maroon: #7a5037;

// Gradient
$gradient-ocean: linear-gradient(
  to bottom,
  $color-blue-light 0%,
  $color-blue-dark 100%
);
$gradient-text: linear-gradient(
  to bottom,
  #122d41 0%,
  darken($color-blue-dark, 0.2) 100%
);

// Shadows
$shadow-default: 2px 5px 8px rgba(0, 0, 0, 0.01), 0 5px 20px rgba(0, 0, 0, 0.1);
$shadow-hover: 1px 3px 5px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.15);
$shadow-image: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 25px rgba(38, 34, 34, 0.05);

// Sizes
$tab-port: 45em;
$tab-land: 75em;
$desktop: 112.5em;
