body {
  font-family: 'Catamaran', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  color: currentColor;
  font-weight: inherit;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  margin: 0 0 1.6rem 0;
  font-size: 3.2rem;
}

p + p {
  margin-top: 2.4rem;
}

a {
  color: $color-black;
}
